<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
       <properties>  
           <property name="dialect" value="mysql" />  
        </properties>
    
	<typeAliases>
		 <!-- webadmin alias start  -->
		 <!--<typeAlias type="model.ApiMethod.ApiMethod" alias="method"/>-->
		 <!--<typeAlias type="model.ApiMethod.OoApiAccessLogModel" alias="ooApiAccessLogModel" />-->
		 <!--<typeAlias type="model.ApiMethod.OoApiMethodCategoryModel" alias="ooApiMethodCategoryModel" />-->
		 <!--<typeAlias type="model.ApiMethod.OoApiMethodCfgModel" alias="ooApiMethodCfgModel" />-->
		 <!--<typeAlias type="model.ApiMethod.OoApiMethodModel" alias="ooApiMethodModel" />-->
		 <!--<typeAlias type="model.ApiMethod.OoApiMethodParamModel" alias="ooApiMethodParamModel" />-->
		 <!--<typeAlias type="model.ApiMethod.OoAppInfoModel" alias="ooAppInfoModel" />-->
		 <!--<typeAlias type="model.ApiMethod.UserTokenInfo" alias="userTokenInfo" />-->
		 
<!-- 		 <typeAlias type="model.ApiMethod.OoApiMethodMapper" alias="ooApiMethodMapper" /> -->
<!-- 		 <typeAlias type="model.ApiMethod.OoApiMethodParamMapper" alias="ooApiMethodParamMapper" /> -->
<!-- 		 <typeAlias type="model.ApiMethod.OoAppInfoMapper" alias="ooAppInfoMapper" /> -->
<!-- 		  <typeAlias type="model.ApiMethod.OoUserTokenInfoMapper" alias="ooUserTokenInfoMapper" /> -->
	</typeAliases>

</configuration>
