<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eason.api.mapper.UserInfoPoMapper" >
  <resultMap id="BaseResultMap" type="com.eason.api.po.user.UserInfoPo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="deposit" property="deposit" jdbcType="DECIMAL" />
    <result column="phone" property="phone" jdbcType="CHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="signature" property="signature" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="constellation" property="constellation" jdbcType="SMALLINT" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="SMALLINT" />
    <result column="sex" property="sex" jdbcType="SMALLINT" />
    <result column="vip" property="vip" jdbcType="SMALLINT" />
    <result column="ex_vip_time" property="exVipTime" jdbcType="TIMESTAMP" />
    <result column="role" property="role" jdbcType="SMALLINT" />
    <result column="signage" property="signage" jdbcType="CHAR" />
    <result column="points" property="points" jdbcType="DECIMAL" />
    <result column="re_signage" property="reSignage" jdbcType="INTEGER" />
    <result column="is_mute" property="isMute" jdbcType="INTEGER" />
    <result column="salt" property="salt" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="exp" property="exp" jdbcType="BIGINT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="car_id" property="carId" jdbcType="INTEGER" />
    <result column="ex_car_time" property="exCarTime" jdbcType="TIMESTAMP" />
    <result column="api_token" property="apiToken" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="os" property="os" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, nickname, password, deposit, phone, birthday, signature, avatar, constellation, 
    location, level, sex, vip, ex_vip_time, role, signage, points, re_signage, is_mute, 
    salt, status, exp, created_at, updated_at, car_id, ex_car_time, api_token, channel, 
    os
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eason.api.po.user.UserInfoPo" useGeneratedKeys="true" keyProperty="id">
    insert into user_info (id, username, nickname, 
      password, deposit, phone, 
      birthday, signature, avatar, 
      constellation, location, level, 
      sex, vip, ex_vip_time, 
      role, signage, points, 
      re_signage, is_mute, salt, 
      status, exp, created_at, 
      updated_at, car_id, ex_car_time, 
      api_token, channel, os
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{deposit,jdbcType=DECIMAL}, #{phone,jdbcType=CHAR}, 
      #{birthday,jdbcType=DATE}, #{signature,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{constellation,jdbcType=SMALLINT}, #{location,jdbcType=VARCHAR}, #{level,jdbcType=SMALLINT}, 
      #{sex,jdbcType=SMALLINT}, #{vip,jdbcType=SMALLINT}, #{exVipTime,jdbcType=TIMESTAMP}, 
      #{role,jdbcType=SMALLINT}, #{signage,jdbcType=CHAR}, #{points,jdbcType=DECIMAL}, 
      #{reSignage,jdbcType=INTEGER}, #{isMute,jdbcType=INTEGER}, #{salt,jdbcType=CHAR}, 
      #{status,jdbcType=TINYINT}, #{exp,jdbcType=BIGINT}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{carId,jdbcType=INTEGER}, #{exCarTime,jdbcType=TIMESTAMP}, 
      #{apiToken,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, #{os,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.eason.api.po.user.UserInfoPo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="deposit != null" >
        deposit,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="signature != null" >
        signature,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="constellation != null" >
        constellation,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="vip != null" >
        vip,
      </if>
      <if test="exVipTime != null" >
        ex_vip_time,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="signage != null" >
        signage,
      </if>
      <if test="points != null" >
        points,
      </if>
      <if test="reSignage != null" >
        re_signage,
      </if>
      <if test="isMute != null" >
        is_mute,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="exp != null" >
        exp,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="carId != null" >
        car_id,
      </if>
      <if test="exCarTime != null" >
        ex_car_time,
      </if>
      <if test="apiToken != null" >
        api_token,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="os != null" >
        os,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="deposit != null" >
        #{deposit,jdbcType=DECIMAL},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=CHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="signature != null" >
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="constellation != null" >
        #{constellation,jdbcType=SMALLINT},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=SMALLINT},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=SMALLINT},
      </if>
      <if test="vip != null" >
        #{vip,jdbcType=SMALLINT},
      </if>
      <if test="exVipTime != null" >
        #{exVipTime,jdbcType=TIMESTAMP},
      </if>
      <if test="role != null" >
        #{role,jdbcType=SMALLINT},
      </if>
      <if test="signage != null" >
        #{signage,jdbcType=CHAR},
      </if>
      <if test="points != null" >
        #{points,jdbcType=DECIMAL},
      </if>
      <if test="reSignage != null" >
        #{reSignage,jdbcType=INTEGER},
      </if>
      <if test="isMute != null" >
        #{isMute,jdbcType=INTEGER},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="exp != null" >
        #{exp,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="carId != null" >
        #{carId,jdbcType=INTEGER},
      </if>
      <if test="exCarTime != null" >
        #{exCarTime,jdbcType=TIMESTAMP},
      </if>
      <if test="apiToken != null" >
        #{apiToken,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="os != null" >
        #{os,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eason.api.po.user.UserInfoPo" >
    update user_info
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="deposit != null" >
        deposit = #{deposit,jdbcType=DECIMAL},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="signature != null" >
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="constellation != null" >
        constellation = #{constellation,jdbcType=SMALLINT},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=SMALLINT},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=SMALLINT},
      </if>
      <if test="vip != null" >
        vip = #{vip,jdbcType=SMALLINT},
      </if>
      <if test="exVipTime != null" >
        ex_vip_time = #{exVipTime,jdbcType=TIMESTAMP},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=SMALLINT},
      </if>
      <if test="signage != null" >
        signage = #{signage,jdbcType=CHAR},
      </if>
      <if test="points != null" >
        points = #{points,jdbcType=DECIMAL},
      </if>
      <if test="reSignage != null" >
        re_signage = #{reSignage,jdbcType=INTEGER},
      </if>
      <if test="isMute != null" >
        is_mute = #{isMute,jdbcType=INTEGER},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="exp != null" >
        exp = #{exp,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="carId != null" >
        car_id = #{carId,jdbcType=INTEGER},
      </if>
      <if test="exCarTime != null" >
        ex_car_time = #{exCarTime,jdbcType=TIMESTAMP},
      </if>
      <if test="apiToken != null" >
        api_token = #{apiToken,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="os != null" >
        os = #{os,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eason.api.po.user.UserInfoPo" >
    update user_info
    set username = #{username,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      deposit = #{deposit,jdbcType=DECIMAL},
      phone = #{phone,jdbcType=CHAR},
      birthday = #{birthday,jdbcType=DATE},
      signature = #{signature,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      constellation = #{constellation,jdbcType=SMALLINT},
      location = #{location,jdbcType=VARCHAR},
      level = #{level,jdbcType=SMALLINT},
      sex = #{sex,jdbcType=SMALLINT},
      vip = #{vip,jdbcType=SMALLINT},
      ex_vip_time = #{exVipTime,jdbcType=TIMESTAMP},
      role = #{role,jdbcType=SMALLINT},
      signage = #{signage,jdbcType=CHAR},
      points = #{points,jdbcType=DECIMAL},
      re_signage = #{reSignage,jdbcType=INTEGER},
      is_mute = #{isMute,jdbcType=INTEGER},
      salt = #{salt,jdbcType=CHAR},
      status = #{status,jdbcType=TINYINT},
      exp = #{exp,jdbcType=BIGINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      car_id = #{carId,jdbcType=INTEGER},
      ex_car_time = #{exCarTime,jdbcType=TIMESTAMP},
      api_token = #{apiToken,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      os = #{os,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getUserByAccount" parameterType="com.eason.api.po.user.UserInfoPo" resultType="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    `user_info`
    <where>
      <if test="id != null">
        AND id=#{id}
      </if>
      <if test="username != null">
        AND username=#{username}
      </if>
      <if test="phone != null">
        AND phone=#{phone}
      </if>
      <if test="password != null">
        AND password=#{password}
      </if>
    </where>
    order by created_at desc
  </select>
</mapper>